body{
  background-color: #b5a789;  
  font-family:  Georgia, "Times New Roman", Times, serif;  
  font-size: small;  
  margin: 0px
}

#header{  
  width: 100%;
  background-color: rgb(56, 56, 136);  
  margin: 10px 10px 0px 10px;  
  height: 108px;
  border: 2px solid grey; 
} 

#header #headerSlogan { 
  float: right; 
}

#content #climaBox{
  background-color: white;
  width: 300px;
  height: 300px;
  padding: 10px;
  margin: auto;
  margin-top: 5%;
}

#headerSlogan{
  background-color: rgb(88, 88, 209);
  text-align: center;
  height: 110px;
  width: 225px;
  border-left: 2px solid grey;
  color: white;
}

#headerLogo{
  margin-block-start: 20px;
  margin-left: 20px;
  height: 70px;
  width: 70px;
  vertical-align: middle;
}

#titulo{
  margin: 25px;
  color: white;
}